:root {
	--font-rye: 'Rye', cursive;
	--font-lato: 'Lato', sans-serif;
}

/* Rye-Regular */
@font-face {
	font-family: 'Rye';
	src: url('/fonts/Rye-Regular.ttf') format('truetype');
	font-weight: 900; /* Black weight is typically 900 */
	font-style: normal;
	font-display: swap;
}

/* Lato-Regular */
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.ttf') format('truetype');
	font-weight: 400; /* Regular weight is typically 400 */
	font-style: normal;
	font-display: swap;
}

/* Lato-Bold */
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Bold.ttf') format('truetype');
	font-weight: 700; /* Bold weight is typically 700 */
	font-style: normal;
	font-display: swap;
}
